atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/split-diff
atom.symlink/storage
atom.symlink/themes
atom.symlink/recovery

git/gitconfig.local.symlink

sublime/User/Package Control.cache/
sublime/User/Package Control.last-run
sublime/User/Package Control.merged-ca-bundle
sublime/User/Package Control.user-ca-bundle
sublime/User/oscrypto-ca-bundle.crt

vim/vim.symlink/bundle

# OSX
*.DS_Store
.AppleDouble
.LSOverride
