packages: [
  "activate-power-mode"
  "aligner"
  "aligner-javascript"
  "aligner-puppet"
  "aligner-ruby"
  "atom-beautify"
  "atom-material-ui"
  "autoclose-html"
  "busy-signal"
  "change-case"
  "color-picker"
  "custom-title"
  "data-atom"
  "duplicate-removal"
  "file-icons"
  "fonts"
  "git-plus"
  "highlight-selected"
  "intentions"
  "language-powershell"
  "language-puppet"
  "linter"
  "linter-jshint"
  "linter-puppet-lint"
  "linter-ruby"
  "linter-shellcheck"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-split-diff"
  "package-sync"
  "pane-layout-plus"
  "pigments"
  "pretty-json"
  "Remote-FTP"
  "sequential-number"
  "sort-lines"
  "split-diff"
  "uuidgen"
]
